@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Caveat", cursive;
  background-color: rgb(239, 255, 255);
}

nav {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.nav-links a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
  transform: scale(1.1);
}
.hero-banner {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main {
  font-size: 1.75rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  text-align: center;

  background-color: white;
  box-shadow: 5px 5px 10px #888888;

  padding: 40px 20%;
}
.food-comparison {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  width: 100%;
  padding: 10px;
}

.food-item img {
  width: 150px;
  height: auto;
}

.divider {
  width: 2px;
  background-color: black;
}

h3, h5 {
  margin: 0;
}

p {
  margin-top: 1rem;
}