@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
body {
    margin: 0;
    font-family: "Caveat", cursive;
    background-color: rgb(239, 255, 255);
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
main {
    z-index: 1;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 10px #888888;
    padding: 30px;
}
h3 {
    margin: 0;
}
.banner {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.comids {
    display: flex;

}
.links {
}
