@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Caveat", cursive;
  background-color: rgb(239, 255, 255);
}

nav {
  font-size: 1.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  margin: 0;
  background-color: white;
  box-shadow: 5px 5px 10px #888888;

  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.nav-links a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.nav-links a:hover {
  transform: scale(1.1);
}
.banner {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main {
  font-size: 1.75rem;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 50px;
  text-align: center;

  background-color: white;
  box-shadow: 5px 5px 10px #888888;

  padding: 10px 20%;
}
.food-comparison {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: stretch;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;

  width: 100%;
  padding: 10px;
}

.food-item img {
  width: 150px;
  height: auto;
}
.divider {
  width: 2px;
  background-color: black;
}
.food-item p {
  margin-top: 1rem;
}

nav h3 {
  margin: 0;
}

.food-item h5 {
  margin: 0;
}

/* SESSÃO DE SAUDE */
.health-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.health-section h2 {
  margin-bottom: 15px;
  font-size: 2.3rem;
}

.health-section h3 {
  margin-top: 25px;
  font-size: 1.9rem;
}

.health-section p {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.health-section ul {
  padding-left: 20px;
  text-align: left;
  font-size: 1.5rem;
}

.health-section ul li {
  margin-bottom: 10px;
}

.img-area {
  display: flex;
}
.img-area p {
  text-align: left;
}
.img-area div {
  margin-right: 50px;
}
.health-img {
  width: 100%;
  max-width: 450px;
  margin: 20px auto;
  display: block;
  border-radius: 25px;
  box-shadow: 3px 3px 10px #bcbcbc;
}

/* FIM SESSÃO SAUDE */

.external-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.cat-btn {
  text-decoration: none;
  background: #ffe5ec;
  padding: 12px 25px;
  border-radius: 25px;
  color: #333;
  font-size: 1.5rem;
  transition: all 0.3s;
  width: 60%;
  text-align: center;
}

.cat-btn:hover {
  background: #ffdae4;
  transform: scale(1.03);
}